<!-- 
Authors: Gonçalo Marques; Ricardo Vieira
Latest change: 29/01/2022
 -->

{% extends "../base.html" %}
{% block content %}

<!-- Title -->
{% include "../components/title.html" with title="Log In" %}

<!-- Form -->
<form method="post">
    {% csrf_token %}

    <fieldset>
        <legend>Authentication</legend>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" required>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required>
        </div>
    </fieldset>

    <br>

    <button type="submit" class="btn btn-primary">Log In</button>
</form>

{% endblock content %}