<!-- 
Authors: Gonçalo Marques; Ricardo Vieira
Latest change: 29/01/2022
 -->

<!-- Modal -->
<div class="modal fade" id="modal-{{car.id}}" tabindex="-1" aria-labelledby="modalLabel-{{car.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel-{{car.id}}">{{car.name}} - {{ car.brand }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                {% if sell %}

                <p>Are you sure you want to sell this car?</p>

                {% else %}

                <p>Are you sure you want to buy this car?</p>

                {% endif %}
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                {% if sell %}

                <a href="{% url 'sellCar' car.id %}">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Sell
                    </button>
                </a>

                {% else %}

                <a href="{% url 'buyCar' car.id %}">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Buy
                    </button>
                </a>

                {% endif %}


            </div>
        </div>
    </div>
</div>