<!-- 
Authors: Gonçalo Marques; Ricardo Vieira
Latest change: 27/01/2022
 -->

{% extends "base.html" %}
{% block content %}

<!-- Title -->
{% include "components/title.html" with title="Cars" %}

<!-- Carousel -->
<div class="carousel-cars">
    {% include "components/carousel.html" with client=client cars=featured %}
</div>

<br>
<br>

{% if cars|length > 0 %}

<!-- Cards -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for car in cars %}

    {% include "components/card.html" with client=client car=car %}

    {% endfor %}
</div>

{% else %}

{% include "components/noCars.html" %}

{% endif %}

{% endblock content %}