{% extends "base.html" %}
{% block content %}

{% if title %}

<!-- Title -->
{% include "components/title.html" with title=title %}

{% endif %}

<form>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}