<!-- 
Authors: Gonçalo Marques; Ricardo Vieira
Latest change: 27/01/2022
 -->

{% extends "base.html" %}
{% block content %}

{% if client %}

<!-- Title -->
{% include "components/title.html" with title="My Cars" %}

{% if cars|length > 0 %}

<!-- Cards -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for car in cars %}

    {% include "components/card.html" with client=client car=car sell="true" %}

    {% endfor %}
</div>

{% else %}

{% include "components/noCars.html" %}

{% endif %}

{% else %}

<!-- Not logged in message -->
{% include "components/notLoggedIn.html" %}

{% endif %}

{% endblock content %}